* {
     font-size: 12px;
 }

body {
     font-family: "Roboto", Sans-Serif;
     margin: 0;
     padding: 0;
     background: linear-gradient(40deg, rgba(29, 32, 47, 0.5), rgba(101, 22, 56, 0.3)),url( ../img/store11.jpg);
     background-attachment: fixed;
     /* box-shadow: 0 200px rgba(0, 0, 0, 0.503); */
     background-position: center;
     font-family: "Roboto", Sans-Serif;
}

/* body:before {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.503);
    } */

/* header {

     background-color: #1d202f;
     justify-content: space-between;
     display: flex;
     align-items: center;
} */

.header {
     background-color: #1d202f;
     justify-content: space-between;
     display: flex;
     align-items: center;
     padding: 0;
}

.navbarimg {
     padding-right: 10.5rem;
     line-height: 1;

}

.main {
     /* position: relative; */
     top: 80px;
     position:absolute;
     left: 0;
     text-align: center;
     color: white;
     /* background: rgba(0, 0, 0, 0.503); */
     width: 100%;
     /* height: 100%; */
     height:100vh;
     padding-bottom:20px;
     z-index: -1;
     /* overflow-y: scroll; */
     /* overflow:scroll; */
}

.navbartxt a {
     text-align: right;
     color: #8b0e3a;
     font-weight: 500;
     text-decoration: none;
     padding: 20px;
}

img {
     margin-right: 0px;
     padding: 20px;
     width: auto;
     height: 7vh;
     overflow: hidden;
}


/* .container {
     justify-content: space-around;
} */

.col-sm {
     /* margin: 0 20px 50px 20px; */
     /* margin: 50px 5px 50px 5px; */
     margin: 5px 5px 5px 5px;
     max-width: 450px;
     /* height: 60vh; */
     border-radius: 5%;
     color: #fff;
}

.selected {
     color: #fff;
}

.img {
     margin-right: 0px;
     width: auto;
     height: 80px;
     overflow: hidden;
}

.lead {
     padding: 30px 0 30px;
     display: flex;
     flex-direction: column;
     align-items: center;
     min-height: 250px;
     justify-content: space-evenly;
     height: 90vh
}


.dropdown-menu {
     min-width: 0;
     text-align: right;
     border: none;
     background-color: #1d202f;
}

.dropdown-menu:hover {
     min-width: 0;
     text-align: right;
     border: none;
     background-color: #1d202f;
}

.dropdown-item {
     min-width: 0;
     text-align: right;
     /* color: #fff; */
     color:#999aa1;
     border: none;
     background-color: #1d202f;
}

.dropdown-item:hover {
     min-width: 0;
     text-align: right;
     color: #8b0e3a;
     border: none;
     background-color: #1d202f;
}

.nav-item {
     margin: 0 20px 0 0;
}

.nav-link {
     text-align: right;
     /* color: #fff; */
     color:#999aa1;
     font-weight: 500;
     text-decoration: none;
     font-size: 13px;
}

.nav-link:hover {
     text-align: right;
     color: #00999e;
     font-weight: 500;
     text-decoration: none;
}

.nav-link:focus {
     color: #8b0e3a;
}

.chaguo {
     color: #8b0e3a;
}
.navbar-collapse {
     margin-right: 140px;
}

.navbar-toggler {
     box-shadow: none;
     border: none;
}

.navbar-toggler:focus {
     box-shadow: none;
     border: none;
}

.course {
     display: block;
     position: relative;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     padding: 9%;
     background: rgb(101, 22, 56);
     background: linear-gradient(40deg, rgba(101, 22, 56, 1) 0%, rgba(29, 32, 47, 1) 47%);
     box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
     border-radius: 5%;
     color: #fff;
     z-index: 1;
}

.gradient {
     position: relative;
     display: flex;
     flex-direction: column;
     top: 0;
     left: 0;
     /* height: 460px; */
     width: 100%;
     /* padding: 9%; */
     padding:5px;
     border-radius: 20px;
     background-image: linear-gradient(40deg, rgba(101, 22, 56, 1) 0%, rgba(29, 32, 47, 1) 47%);
     transform: scale(1);
     transform: translate(0px, 0px);
     transition: all 0.1s;
     z-index: 1;
     overflow: hidden;
}

/* .gradient:hover {
     position: relative;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     padding: 9%;
     border-radius: 5%;
     background-image: linear-gradient(40deg, rgba(101, 22, 56, 1) 0%, rgba(29, 32, 47, 1) 47%);
     transform: translate(0px, -30px);
     transition: all 0.3s;
     z-index: 1;
}

.gradient::before {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     padding: 9%;
     border-radius: 5%;
     background-image: linear-gradient(40deg, rgba(101, 22, 56, 1) 0%, rgba(29, 32, 47, 1) 100%);
     z-index: -1;
     transition: opacity 0.5s linear;
     transition: all 0.3s;
     transform: scale(1);
     opacity: 0;
}

.gradient:hover::before {
     opacity: 1;
} */

.gradient div {
     flex: 1;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.gradient div div a {
     text-decoration: none;
}

.gradient h3 {
     text-transform: Uppercase;
}

h3 {
     text-transform: capitalize;
}

.progress-bar {
     position: relative;
     top: 0;
     left: 0;
     bottom: -.75rem;
     height: .25rem;
     background-color: rgba(20, 21, 26, 0.459);
     width: 100%;
}

.progress-background {
     width: 80%;
}

.progress-foreground {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 60%;
     background: #8b0e3a;
}

.information-icon {
     font-size: 5rem;
}

.progress {
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     font-weight: 500;
     font-size: 1rem;
     text-decoration: none;
     background: none;
}

.progress:hover {
     color: #00999e;
}

.container1 {
     /* position:fixed;
     top: 0;
     left: 0; */
     /* padding-top: 25px; */
     display: grid;
     /* margin: 0 10% 0 10%; */
     grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
     justify-content: space-around;
     /* height: 10vh; */
     height: 100%;
}

.floating-add {
     position: fixed;
     background-color: #641638;
     border-radius: 70px;
     bottom: 80px;
     right: 10px;
     margin-right: inherit;
     margin-bottom: inherit;
     z-index: 2;
     border: 1px solid #8b0e3a;
}

.floating-add:hover {
     background-color: #1d202f;
     border: 1px solid #8b0e3a;

}

.floating-add a {
     display: flex;
     text-decoration: none;
     align-items: center;
     color: #fff;
}

.floating-icon {
     font-size: 4rem;
}

#product_image_container {
     width: 100%;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     overflow: hidden;

}

#product_image {
     width: 100%;
     height: 230px;
     /* height:50%; */
     border-radius: 3px;
     /* padding-top: 0;
     padding-bottom: 0; */
     padding:0;
}

#about_product{
     padding-top: 10px;
     /* height:120px; */
}

p,h3 {
     font-size: 12px;
     /* margin:0; */
}

.icon {
     color:#999aa1;
     font-size: 2rem;
}
#cart_number {
     font-size:15px;
     display:flex;
     justify-content: center;
     align-items: center;
     vertical-align: middle;
     border:1px solid white;
     color: white !important;
     text-align: center;
     /* text-shadow:0 0 12px#8b0e3a; */
     background-color: grey;
     display: inline-block;
     width:20px;
     height:20px;
     border-radius:50%;
     /* width: */
}

#navbarDropdown {
     display:flex;
     justify-content:space-around;
     align-items: center;
     width:60px;
     /* margin-right: 60px; */
     /* margin-top: 4px; */
     /* padding-right: 60px; */
}

.non_collapse{
     font-size: 1.5rem;
     float: right;
     position:absolute;
     right:20px;
     top:32px;
     display: flex;
     flex-direction: row;
     line-height: 1;
}

.cart_icon {
     font-size: 1.5rem;
     /* float: right;
     position:absolute;
     right:20px;
     top:28px; */
     /* padding-left:200px; */
     /* color: #ffffff; */
     /* margin-right: 2rem; */
}

#add_to_cart_button {
     border:1px solid #FF4B2B;
     /* background-color: #FF4B2B; */
     border-radius: 20px;
     border: 1px solid #FF4B2B;
     /* background-color: #FF4B2B; */
     color: #FFFFFF;
     font-size: 12px;
     font-weight: bold;
     /* padding: 12px 45px; */
     letter-spacing: 1px;

}

@media screen and (max-width: 768px) {
     .dropdown {
          margin-right:18px;
          /* padding-right: 60px; */
     }
     .navbarimg {
     padding-right: 10.5rem;
     line-height: 1;
     }
     .navbar-collapse {
          margin-right: 10px;
     }

}