{% extends 'base.html'%}
{% load static%}
{%block content %}
    <main class="main">
        <section class="contact section" id="contact">
            <span class="section-subtitle">Contact Me</span>
            <h2 class="section-title">Get In Touch</h2>

            <div class="contact__container bg-grid">
                <form action="#" class="contact__form"  onsubmit="return send()">
                    <div class="contact__inputs">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                    </div>

                    <input type="text" placeholder="Project" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" placeholder="Message" class="contact__input"></textarea>

                    <input type="submit" value="send Message" class="button contact__button">
                </form>

                <div>
                    <div class="contact__info">
                        <h3 class="contact__subtitle">Phone</h3>
                        <i class="bx bx-phone"></i>
                        <span>+254 701234567</span>
                    </div>
                    <div class="contact__info">
                        <h3 class="contact__subtitle">E-mail</h3>
                        <i class="bx bx-envelope"></i>
                        <span></i>chuikelvin2@gmail.com</span>
                    </div>

                    <div class="contact__info">
                        <h3 class="contact__subtitle">Location</h3>
                        <i class="bx bx-map"></i>
                        <span>Nairobi, Kenya</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {%endblock content %}