{% extends 'base.html'%}

    <div class="lead">
        Yello
    </div>
    {%block content %}
    {% for product in Product_list %}

    <div class="col-sm">
        <!-- course -->
        <div class="gradient" onclick="location.href='#';" style="cursor:pointer;">
            <div class="row" style="flex:2;">
                <img src="{{MEDIA_URL}}{{product.image.url}}" alt="{{product.title}}" id="product_image">
                <!-- <h3>{{product.title}}</h3> -->
                <!-- <strong>{{product.title}}</strong>
                <div class="row">
                     <strong>{{product.price}}</strong> -->
                    <!-- <h3>{{product.price}}</h3>
                </div>
                <p>{{product.description}}</p> -->
                <!--<span class="progress-number">${subjectPercentages[index]}%</span>-->
                <!-- <span class="progress-bar progress-background"><span class="progress-foreground" style ="width:100%"></span></span> -->
           <!-- </div> -->
            <div class="row">
                <p>{{product.title}}</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    <h3>{{product.price}}</h3>
                </div>
                <!-- <p>{{product.description}}</p> -->
                
                    <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                    <!-- <input min="1" value=1 type="number" name="quantity"> -->
                    <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                    <input class="btn btn-dark" name="cart" type="submit" value="Add to Cart">
                </form>
                <!-- <div class="col"><a href="#" class="progress">see overview</a></div> -->
        <!-- <div class="col"><a href="#" class="progress">${action}</a></div> -->
            </div>

        </div>
    <!-- </div> -->
    <!-- course -->

    </div>
     {% endfor %} {%endblock content %}