{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- {%block head%} -->
  <title>Store11</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- <script src = "https://ajax.googleapis.com/ajax/libs/jQuery/3.3.1/jQuery.min.js"> -->
  </script>
  <!-- <link rel="stylesheet" href="{% static 'css/styles3.css' %}"> -->
  {%block css%}
  <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
  {%endblock css%}
  <script src="{%static 'js/sub.js'%}" defer></script>
  <!-- {%endblock head%} -->
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark header">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon icon"></span>
    </button>

    <div class="navbarimg">
      <a href="{% url 'store' %}"><img src="{% static 'img/store11-logo.png' %}" class="img" alt="Store11 logo"></a>
    </div>

    <div class="non_collapse">
      <!-- <li class="nav-item dropdown"> -->
      <div class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <!-- <i class='bx bx-cart-alt cart_icon icon' ></i> -->
          <i class='bx bx-user-circle icon'></i>
          <!-- <i class='bx bx-user-x icon'></i> -->
          <span
            class="position-absolute top-0 start-100 translate-middle p-1 {{user_status}} border border-light rounded-circle"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-start" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'userhandler' %}">{{action}}</a>
          <!-- <a class="dropdown-item" href="#" onclick="signout()">SIGN OUT</a> -->
        </div>
      </div>

      <!-- </li> -->

      <div class="cart_icon">
        <a href="{% url 'cart' %}"><i class='bx bx-cart-alt icon'></i>
          <span class="visually-hidden position-absolute top-0 start-100 translate-middle p-1 text-light rounded-circle"
            id="cart_number">12</span>
        </a>
      </div>


    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <!-- <a class="nav-link" href="" >ALL COURSES</a> -->
          <a class="nav-link" href="{% url 'store' %}">STORE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link chaguo" href="#" onclick="loadcontent()">MY DASHBOARD</a> -->
          <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
        </li>
        <!-- <li class="nav-item"> -->
        <!-- <a class="nav-link" href="" >ALL COURSES</a> -->
        <!-- <a class="nav-link" href="{% url 'sign' %}">ACCOUNT</a> -->
        <!-- </li> -->


      </ul>
    </div>



  </nav>

  <!-- <div class="main">
    <div class="container1"> -->
  {%block content%}
  {%endblock content%}
  <!-- </div>
  </div> -->
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
  </script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js">
  </script>
  <Script>
    $(document).ready(function () {
      $(".item_btn").click(function () {
        // console.log($(this).attr('id'))
        $.ajax({
          url: "{% url 'cartHandler' %}",
          type: "GET",
          data: {
            action: $(this).attr('id'),
            ref: $(this).attr('name')
          },
        })
      })
    })

    let addbuttons = document.querySelectorAll(".item_btn");
    for (let i = 0; i < addbuttons.length; i++) {
      addbuttons[i].onclick = function () {
        let buttontype = $(this).attr('id');

        if (buttontype == "add") {
          let placeholder = this.previousElementSibling;
          let input

          while (placeholder) {
            if (placeholder.classList.contains('item_quantity')) {
              input = placeholder;
              break;
            }

            placeholder = placeholder.previousElementSibling;
          }
          input.value++;
        }
        else if (buttontype == 'subtract') {
          let placeholder = this.nextElementSibling;
          let input

          while (placeholder) {
            if (placeholder.classList.contains('item_quantity')) {
              input = placeholder;
              break;
            }

            placeholder = placeholder.nextElementSibling;
          }
          console.log(input.value)
          input.value--;
        }
      }
    }

    let update = document.getElementById('update');
    // console.log(update.value)
    update.onclick = function () {
      // console.log("clicked")
      let items = document.querySelectorAll(".item_quantity");      

      var updated_val={};
      let keys =[];
      let values=[];
      // letref
      for (let i = 0; i < items.length; i++) {
        // console.log(i)
        var quantity = items[i].value;
         var ref = items[i].getAttribute("ref");
        keys.push(ref);
        values.push(quantity);
        // ref="helo";

        // console.log();
        // console.log(typeof ref);

        // let buttontype = $(this).attr('id');

        // let ref = $(this).attr('ref');
        // let quantity = $(this).attr('value');

        updated_val[ref]= quantity
        // console.log(ref +":"+ quantity)
      }
      console.log(ref)

      // $.ajax({
      //     url: "{% url 'cartHandler' %}",
      //     headers: {'X-CSRFToken': '{{ csrf_token }}'},
      //     contentType: "application/json",
      //     dataType: 'json',
      //     type: "POST",
      //     data: {
      //       'action': $(this).attr('id'),
      //       'ref':"JSON.stringify(updated_val)"
      //     },
      //   })
      console.log(updated_val)

      // console.log();

    }
  </Script>
</body>

</html>