{% extends 'base.html'%}
{% load static%}
{%block css%}
<!-- <link rel="stylesheet" href="{% static 'css/styles2.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{%endblock css%}

{%block content %}
<div class="main-container">
    {% if cart %}    
    <div class="cart_container">
        <!-- <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo"> -->
        <!-- <div class="cart_icon_container">
            <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
        </div> -->
        {% for item,value in cart.items %}
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    {% for details in item %}
                    <img src="{{MEDIA_URL}}{{details.image.url}}" alt="{{product.title}}" id="product_image">
                    <!-- <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i> -->
                </div>
                <div class="item_data">
                    <p class="item_description">{{details.title}}</p>
                    <div class="price">
                        <p>KSh {{details.price}}</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <!-- <h3>{{details}}</h3> -->
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" value="{{details.id}}" name="delete" hidden>
                    <input type="submit" value="REMOVE">
                </form>
                    <!-- <a href="" type="button">remove</a> -->
                    <!-- <button id="remove" class="item_btn" name="{{details.id}}" type="button">remove</button> -->
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- <a href="" id="minus" class="item_btn">-</a> -->
                        <button id="subtract" class="item_btn" name="{{details.id}}" type="button">-</button>
                        <input min="1" value={{value}} type="number" name="quantity" class="item_quantity" ref="{{details.id}}" readonly>
                        <button id="add" class="item_btn" name="{{details.id}}"type="button">+</button>
                        <!-- <a href="" id="add" class="item_btn">+</a> -->
                    
            </div>
            {% endfor %}
        </div>
        <br><br><br><br><br>
        {% endfor %}
        <!-- item end -->
        <!-- <div class="update_container">
            <a href="{% url 'checkout' %}">UPDATE </a>
        </div> -->
    </div>
    <div class="checkout_container">
        <!-- <input type="submit" value="UPDATE"> -->
        <button id="update" class="item_btn" name="{{details.id}}"type="button">UPDATE</button>
        <!-- <a href="{% url 'checkout' %}" onclick="return false;" id="update">UPDATE </a> -->
    </form>
        <a id="checkout_cost"  href="{% url 'checkout' %}">CHECHOUT(ksh {{total}})</a>
    </div>
        
        <!-- <br><br><br> -->
        {% else %}
        <div class="cart_container">
        <div class="no_item_container">
            <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo">
            <div class="no_cart_icon_container">
                <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
            </div>
            <br>
            <h1>Your cart is empty!</h1>
            <br>
            <h2>add some items to get started</h2>
            <a href="{% url 'store' %}">back to store</a>
    
        </div>
    </div>
        {% endif %} 


    <!-- </div>
    <div class="checkout_container"> -->
        <!-- <input type="submit" value="UPDATE"> -->
        <!-- <a href="{% url 'checkout' %}">UPDATE </a>
    </form>
        <a href="{% url 'checkout' %}">CHECHOUT(ksh {{total}})</a>
    </div> -->


</div>
<script>
        window.onload = function(){ 
    let addbuttons = document.querySelectorAll(".item_btn");
    for (let i = 0; i < addbuttons.length; i++) {
      addbuttons[i].onclick = function () {
        let buttontype = $(this).attr('id');

        if (buttontype == "add") {
          let placeholder = this.previousElementSibling;
          let input

          while (placeholder) {
            if (placeholder.classList.contains('item_quantity')) {
              input = placeholder;
              break;
            }

            placeholder = placeholder.previousElementSibling;
          }
          input.value++;
        } else if (buttontype == 'subtract') {
          let placeholder = this.nextElementSibling;
          let input

          while (placeholder) {
            if (placeholder.classList.contains('item_quantity')) {
              input = placeholder;
              break;
            }

            placeholder = placeholder.nextElementSibling;
          }
          if (input.value > 0) {
            input.value--;
          }
        }
      }
    }

    let update = document.getElementById('update');
    update.onclick = function () {
      let items = document.querySelectorAll(".item_quantity");

      var updated_val = {};
      let keys = [];
      let values = [];
      // letref
      for (let i = 0; i < items.length; i++) {
        var quantity = items[i].value;
        var ref = items[i].getAttribute("ref");
        keys.push(ref);
        values.push(quantity);
        updated_val[ref] = quantity
      }
      // console.log(JSON.stringify(updated_val))
      var url = '/updatecart/'
      fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
          },
          body: JSON.stringify(updated_val)
        })
        .then((response) => {
          return response.json()
        })
        .then((data) => {
          // console.log(data)
          $('#cart_number').html(data.items_no)
          $('#checkout_cost').html("CHECHOUT(ksh "+data.total+")");
        })


      // $.ajax({
      //     url: "{% url 'cartHandler' %}",
      //     headers: {'X-CSRFToken': '{{ csrf_token }}'},
      //     contentType: "application/json",
      //     dataType: 'json',
      //     type: "POST",
      //     data: {
      //       'action': $(this).attr('id'),
      //       'ref':"JSON.stringify(updated_val)"
      //     },
      //   })
      // console.log(updated_val)

      // console.log();

    }
  }
</script>

{%endblock content %}