{% extends 'base.html'%}
{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/styles2.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{%endblock css%}

{%block content %}
<div class="main-container">
    {% if cart %}    
    <div class="cart_container">
        <!-- <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo"> -->
        <!-- <div class="cart_icon_container">
            <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
        </div> -->
        {% for item,value in cart.items %}
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    {% for details in item %}
                    <img src="{{MEDIA_URL}}{{details.image.url}}" alt="{{product.title}}" id="product_image">
                    <!-- <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i> -->
                </div>
                <div class="item_data">
                    <p class="item_description">{{details.title}}</p>
                    <div class="price">
                        <p>KSh {{details.price}}</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <!-- <h3>{{details}}</h3> -->
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <!-- <a href="" id="minus" class="item_btn">-</a> -->
                        <button type="button">-</button>
                        <input min="1" value={{value}} type="number" name="quantity" readonly>
                        <button id="add" class="item_btn" name="{{details.id}}"type="button">+</button>
                        <!-- <a href="" id="add" class="item_btn">+</a> -->
                    </form>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <!-- item end -->
        <!-- <div class="update_container">
            <a href="{% url 'checkout' %}">UPDATE </a>
        </div> -->
        

        <div class="checkout_container">
            <a href="{% url 'checkout' %}">UPDATE </a>
            <a href="{% url 'checkout' %}">CHECHOUT(ksh {{total}})</a>
        </div>
        <br><br><br>
        {% else %}
        <div class="no_item_container">
            <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo">
            <div class="no_cart_icon_container">
                <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
            </div>
            <br>
            <h1>Your cart is empty!</h1>
            <br>
            <h2>add some items to get started</h2>
            <a href="{% url 'store' %}">back to store</a>
    
        </div>
        {% endif %} 


    </div>


</div>
<script>

</script>

{%endblock content %}