{% extends 'base.html'%}
{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/styles2.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{%endblock css%}

{%block content %}
<div class="main-container">
    {% if cart %}    
    <div class="cart_container">
        <!-- <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo"> -->
        <!-- <div class="cart_icon_container">
            <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
        </div> -->
        {% comment %}
        <!-- <div class="item_container">
            <div class="item_logo_container">
                <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
            </div>
            <div class="item_data">
                <p class="item_description">Fashion Women Shoulder Bags Sling Small Bag-Multi Color</p>
                <div class="price_quantity">
                    <p>KSh 228</p>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <h3>{{product.price}}</h3>
                         </div> -->
                        <!-- <p>{{product.description}}</p> -->

                        <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> 
                        <input min="1" value=1 type="number" name="quantity">
                         <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                        <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                            value="Add to Cart"> 
                    </form>
                </div>
            </div>
        </div> --> {% endcomment %}

        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->

        
        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->

        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->

        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->
        
        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->
        
        <!-- item start -->
        <div class="item_container">
            <div class="item_details">
                <div class="item_logo_container">
                    <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
                </div>
                <div class="item_data">
                    <p class="item_description">Fashion Women Shoulder Bags 
                        Sling Small Bag-Multi Color</p>
                    <div class="price">
                        <p>KSh 228</p>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <h3>{{product.price}}</h3>
                            <!-- </div> -->
                            <!-- <p>{{product.description}}</p> -->
    
                            <!-- <input type="hidden" name="producttitle" value="{{product.title}}" /> -->
                            <!-- <input min="1" value=1 type="number" name="quantity"> -->
                            <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                            <!-- <input id="add_to_cart_button" class="btn btn-dark" name="cart" type="submit"
                                value="Add to Cart"> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="quantity">
                    <a href="">remove</a>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <button>-</button>
                        <input min="1" value=1 type="number" name="quantity">
                        <button>+</button>
                    </form>
            </div>

        </div>
        <!-- item end -->
        <div class="checkout_container">
            <a href="{% url 'checkout' %}">CHECHOUT(ksh 5000)</a>
        </div>
        <br><br><br>
        {% else %}
        <div class="no_item_container">
            <img id="logo" src="{% static 'img/store11-logo.png' %}" alt="store11-logo">
            <div class="no_cart_icon_container">
                <i class='bx bx-cart-alt bx-flashing cart_iconlg'></i>
            </div>
            <br>
            <h1>Your cart is empty!</h1>
            <br>
            <h2>add some items to get started</h2>
            <a href="{% url 'store' %}">back to store</a>
    
        </div>
        {% endif %} 


    </div>


</div>

{%endblock content %}