{% extends 'base.html'%}
{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/misc.css' %}">
{%endblock css%}
{%block content %}
<div class="main-container">
    <main class="main">
        <section class="section" id="contact">
            
            <h2 class="section-title">Get In Touch</h2>
            <span class="section-subtitle p-3">Feel free to leave me a message 🤙🏾 </span>

            <div class="w-75 mx-auto">
                <form action="" class="contact__form" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <input type="text" name="name" placeholder="Name" class="col mx-2 rounded-pill form-control" required>
                        <input type="email" name="email" placeholder="Email" class="col mx-2 rounded-pill form-control" required>
                    </div>
                    <div class="row">
                        <textarea name="message" id="" cols="0" rows="10" placeholder="Message" class="col mx-2 rounded-5 form-control" required></textarea>
                    </div>
                    
                    <input type="submit" value="send Message" class="mt-2 mx-auto btn d-block p-2 w-75">
                </form>
            </div>
            <br><br>
        </section>

    </main>
</div>
    {%endblock content %}