{% extends 'base.html'%}

{% load static%}
{%block css%}
<link rel="stylesheet" href="{% static 'css/styles2.css' %}">
<link rel="stylesheet" href="{% static 'css/product.css' %}">
{%endblock css%}
{%block content %}
<div class="main-container">

    <div class="product_container address">
        <div>
            <img src="{{MEDIA_URL}}{{product.image.url}}" alt="{{product.title}}" id="product_image">
        </div>
        <div>
            <h1>{{product.title}}</h1>
            <p>{{product.description}}</p>
            <strong>{{product.price}}</strong>
            <form method="POST" action="{% url 'store' %}">
                {% csrf_token %}
                <input type="hidden" name="producttitle" value="{{product.title}}" />
                <!-- <input min="1" value=1 type="number" name="quantity"> -->
                <!-- <input class="btn btn-dark" name="view" type="submit" value="view product"> -->
                <input class="btn btn-dark" name="cart" type="submit" value="Add to Cart">
            </form>
        </div>
    </div>
</div>
{%endblock content %}