{% load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Account</title>
    {%block css%}
    <link rel="stylesheet" href="{% static 'css/sign.css' %}">
    {%endblock css%}
</head>

<body>
    <div class="maincontainer">
        <div class="container" id="container">
            {% comment %} {{status}} {% endcomment %}
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Hello there!</h1>
                        <p>Have an existing account?</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Don't have an account?</p>


                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="form-container sign-in-container">

                <div class="dog-ear"></div>

                <form method="post" action="">
                    <a href="{% url 'store' %}" id="headerlogo"><img src="{% static 'img/store11-logo.png' %}"
                            alt="store11-logo"></a>
                    {% csrf_token %}
                    <h1>Sign in</h1>
                    <!-- <div class="status">{{status}}</div> -->
                    <input type="email" placeholder="email" class="mail" name="email">
                    <input type="password" placeholder="Password" class="password" name="password">
                    <a href="#">Forgot your password?</a>
                    <button class="save" name="signIn">Sign In</button>
                    <a class="actionlink" href="{% url 'store' %}">back to store11</a>
                </form>
            </div>
            <div class="form-container sign-up-container">

                <div class="dog-ear"></div>
                
                <form method="post" action="">
                    <a href="{% url 'store' %}" id="headerlogo"><img src="{% static 'img/store11-logo.png' %}"
                            alt="store11-logo"></a>
                    {% csrf_token %}
                    <h1>Create Account</h1>
                    <!-- <div class="status">{{status}}</div> -->
                    <div class="row">
                        <input type="text" placeholder="First Name" class="name" required="name" name="firstName">
                        <input type="text" placeholder="Last Name" class="name" required="name" name="lastName">
                    </div>
                    <input type="email" placeholder="email" class="email" required="name" name="email">
                    <input type="password" placeholder="Password" class="password" required="password"
                        name="password">
                    <button class="save" name="signUp">Sign Up</button>
                    <a class="actionlink" href="{% url 'store' %}">back to store11</a>
                </form>
            </div>
        </div>


    </div>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

        let card = document.querySelector('.container');
        let dog_ear = document.querySelector('.dog-ear')
        dog_ear.addEventListener('click', function () {
            card.classList.toggle('is-flipped');
        });
    </script>
</body>
</html>