{% extends 'base.html'%}
{% load static%}
{%block css%}
<!-- <link rel="stylesheet" href="{% static 'css/styles2.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/userdetails.css' %}">
{%endblock css%}

{%block content %}
<div class="main-container">
    <!-- div -->
    <div class=" userdetails_container ">
        <div class="user_greet">
            <h2 style="text-transform:capitalize;color:white;">Hello {{request.user.first_name}}!</h2> 
       </div>
       <div class="sub_container">
        <div class="sidebar">
            <!-- <ul class="sections">
                <li><a href=""><i class='bx bx-user'></i> <span>account details</span></a></li>
                <li><a href=""><i class="bi bi-mailbox"></i><span>address</span></a></li>
                <li><a href=""><i class='bx bx-box' ></i> <span>orders</span></a></li>
            </ul> -->
            <ul class="nav nav-tabs sections justify-content-center">
              <li class="nav-item "><a href="#account_details" class="nav-link active" data-bs-toggle="tab" ><i class="bi bi-person-circle"></i><span>account details</span></a></li>
              <li class="nav-item"><a href="#user_address" class="nav-link" data-bs-toggle="tab"><i class="bi bi-mailbox"></i> <span>address</span></a></li>
              <li class="nav-item"><a href="#user_orders" class="nav-link" data-bs-toggle="tab"><i class="bi bi-box-seam"></i> <span>orders</span></a></li>
          </ul>
      
          <div class="tab-content">
              <div class="tab-pane container text-white active" id="account_details">
                <div class="detail_display">
                  <div class="address">
                      <h2>Enter user details</h2>
                      <form action="" method="post">
                          {% csrf_token %}
                          <div>
                              <input type="text" name="fname" id="" placeholder="enter first name" value="{{details.first_name}}" >
                              <input type="text" name="lname" id="" placeholder="enter last name" value="{{details.last_name}}">
                          </div>

                          <div>
                              <input type="text" value="+254" disabled id="country_code">
                              <input type="number" name="number" id="number" maxlength="10" required placeholder="phone number" value="{{details.phone}}">
                          </div>
                           <div>
                              <input type="date" name="birth_date" id="" placeholder="">
                              <input type="file" name="prof_pic" id="" placeholder="postal address" accept="image/*">
                          </div>
                          <div>
                              <input type="text" name="city" id="" placeholder="city">
                          </div>
                          <div class="actions_container">
                              <!-- <input type="submit" value="update"> -->
                              <button class="button" name="update_user">update</button>
                              <input type="reset" value="clear">
                          </div>
                      </form>
                  </div>
              </div>
              </div>
              <div class="tab-pane container text-white fade" id="user_address">
                <div class="detail_display">
                  <div class="address">
                      <h2>Enter user details</h2>
                      <form action="" method="post">
                          {% csrf_token %}
                          <div>
                              <input type="text" name="fname" id="" placeholder="enter first name" value="{{details.first_name}}" >
                              <input type="text" name="lname" id="" placeholder="enter last name" value="{{details.last_name}}">
                          </div>
                          <div>
                              <input type="text" value="+254" disabled id="country_code">
                              <input type="number" name="number" id="number" maxlength="10" required placeholder="phone number" value="{{details.phone}}">
                          </div>
                          <div>
                              <input type="text" name="region" id="" placeholder="region">
                              <input type="text" name="postal_address" id="" placeholder="postal address">
                          </div>
                          <div>
                              <input type="text" name="city" id="" placeholder="city">
                          </div>
                          <div class="actions_container">
                            <button class="button" name="update_address">update</button>
                              <input type="reset" value="clear">
                          </div>
                      </form>
                  </div>
              </div>
              </div>
              <div class="tab-pane container text-white fade" id="user_orders">
                <div class="detail_display">
                  <div class="address">
                      <h2>Enter user details</h2>
                      <form action="" method="post">
                          {% csrf_token %}
                          <div>
                              <input type="text" name="fname" id="" placeholder="enter first name" value="{{details.first_name}}" >
                              <input type="text" name="lname" id="" placeholder="enter last name" value="{{details.last_name}}">
                          </div>
                          <div>
                              <input type="text" value="+254" disabled id="country_code">
                              <input type="number" name="number" id="number" maxlength="10" required placeholder="phone number" value="{{details.phone}}">
                          </div>
                          <div>
                              <input type="text" name="region" id="" placeholder="region">
                              <input type="text" name="postal_address" id="" placeholder="postal address">
                          </div>
                          <div>
                              <input type="text" name="city" id="" placeholder="city">
                          </div>
                          <div class="actions_container">

                              <input type="reset" value="clear">
                          </div>
                      </form>
                  </div>
              </div>
              </div>
      
        </div>

       </div>
    </div>
</div>

{%endblock content %}